@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,300&display=swap');

body {
  margin: 0 auto;
  width: 50em;
  font-family: 'Roboto Condensed', sans-serif;
}

.jumbotron {
  background-image: url("double-bubble.png");
}

.fathers-card { 
  background-image: url("double-bubble.png");
}